.banner-section {
  margin-bottom: 120px;
}

.banner-container {
  align-items: center;
  padding-top: 92px;

  .banner-image img {
    border-radius: 34px;
    box-shadow: 0 25px 120px 0 rgba(0, 0, 0, 0.15);
  }
}

.banner-texts {
  padding-left: 72px;
  padding-right: 46px;
  padding-top: 30px;

  .banner-title,
  .banner-sub-title {
    font-size: 62px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    line-height: 1;
  }

  .banner-title {
    color: $blue;
  }

  .banner-description {
    font-size: 32px;
    margin-top: 30px;
  }

  .btn-simple {
    font-size: 30px;
    padding: 16px 30px;
  }
}

.banner-socials {
  position: relative;
}