@font-face {
  font-family: "Code Pro";
  src: url(public/fonts/CodecPro-Light.woff);
  src: url(public/fonts/CodecPro-Light.ttf);
  src: url(public/fonts/CodecPro-Light.eot);
  src: url(public/fonts/CodecPro-Bold.woff);
  src: url(public/fonts/CodecPro-Bold.ttf);
  src: url(public/fonts/CodecPro-Bold.eot);
}