@import "variables";
header {
  box-shadow: 0 15px 33px 0 rgba(0, 0, 0, 0.07);
  padding: 25px 0;

  @media screen and (min-width: 1700px) {
    padding: 35px 0;
  }
}

.header-container {
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
  width: 97%;

  @media screen and (max-width: 1400px) {
    align-items: baseline;
  }

  @media screen and (min-width: 1700px) {
    width: 1540px;
  }

  .logo {
    font-size: 0;
    margin-right: 80px;
    vertical-align: middle;

    @media screen and (min-width: 1700px) {
      margin-right: 130px;
    }
  }
}

.menu-btn {
  cursor: pointer;
}

.header-nav {
  font-size: 0;
  vertical-align: middle;

  @media screen and (max-width: 768px) {
    box-shadow: -6px 20px 16px 0 rgba(0, 0, 0, 0.07);
    background: $white;
    display: none;
    padding: 55px 37px 82px;
    position: absolute;
    right: 0;
  }

  @media screen and (min-width: 768px) and (max-width: 1400px) {
    display: block;
    margin-top: 15px;
  }

  @media screen and (min-width: 1400px) {
    display: inline-block;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    display: block;
    font-size: 0;
    margin-right: 33px;
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
      box-shadow: none;
      display: inline-block;
      margin-bottom: 0;
    }
  }

  li:last-child {
    margin-right: 0;
  }

  .menu-item {
    color: $dark;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    vertical-align: middle;

    @media screen and (min-width: 1700px) {
      font-size: 18px;
      line-height: 22px;
    }
  }

  .menu-item:hover {
    color: $blue;
  }

  .menu-item + img {
    display: inline-block;
    vertical-align: middle;
  }
}

.header-contact {
  align-items: center;

  @media screen and (min-width: 768px) and (max-width: 992px) {
    position: absolute;
    right: 0;
  }

  .header-phone {
    font-size: 16px;
    font-weight: 600;
    margin-left: 0;
    white-space: normal;

    @media screen and (min-width: 1700px) {
      font-size: 24px;
    }
  }

  .header-phone b {
    margin: 0 3px;
  }

  .header-order {
    margin-left: 0;

    @media screen and (min-width: 768px) {
      margin-left: 40px;
    }

    @media screen and (min-width: 1400px) {
      margin-left: 54px;
    }
  }

  .btn {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.9px;
    white-space: nowrap;

    @media screen and (min-width: 1700px) {
      font-size: 20px;
      padding: 12px 22px;
    }
  }
}

