@import "variables";
@import "scroll";
@import "header";
@import "banner";
@import "tabs";
@import "content";
@import "forms";
@import "slick-carousel";
@import "accordion";
@import "footer";

.container {
  margin: 0 auto;
  width: 98%;

  @media screen and (min-width: 992px) {
    max-width: 972px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1180px;
  }

  @media screen and (min-width: 1400px) {
    max-width: 1380px;
  }

  @media screen and (min-width: 1700px) {
    max-width: 1680px;
  }

  @media screen and (min-width: 1800px) {
    max-width: 1736px;
  }
}

.nowrap {
  white-space: nowrap;
}

.d-mobile {
  display: none;

  @media screen and (max-width: 767px) {
    display: block;
  }
}

.d-desktop {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

img {
  max-width: 100%;
}

.d-flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.d-inline-block {
  display: inline-block;
}

.vertical-align-middle {
  vertical-align: middle;
}

.b-rounded-20 {
  border-radius: 20px;
}

.b-rounded-30 {
  border-radius: 30px;
}

.text-center {
  text-align: center;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.color-blue {
  color: $blue;
}

.color-dark {
  color: $dark !important;
}

.mt-0 {
  margin-top: 0;
}

.mt-10 {
  margin-top: 10px;
}

body {
  font-family: 'Arial', sans-serif;
  font-weight: 500;
  margin: 0;
}

%btn {
  background: none;
  border-radius: 100px;
  cursor: pointer;
  padding: 10px 20px;

  @media screen and (min-width: 768px) {
    padding: 12px 25px;
  }

  @media screen and (min-width: 1200px) {
    padding: 12px 29px;
  }
}

.btn-dashed {
  background: none;
  border: 2px dashed;
  border-radius: 100px;
  padding: 12px 29px;

  &.blue {
    border-color: $blue;
    color: $blue;
  }

  .big {
    font-size: 22px;
    line-height: 1.2;
  }
}

.btn-simple {
  @extend %btn;
  border: none;

  &.blue {
    background: $blue;
    color: #fff;
  }

  &.big {
    font-size: 18px;
    padding: 10px 20px;

    @media screen and (min-width: 768px) {
      font-size: 25px;
      padding: 12px 25px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 30px;
      padding: 16px 30px;
    }
  }
}

.mb-70 {
  margin-bottom: 70px;
}

.grey-section {
  background: $grey;
  border-radius: 20px;
  padding: 30px 20px;
  margin-bottom: 80px;

  @media screen and (min-width: 1200px) {
    padding: 70px 56px;
  }

  @media screen and (min-width: 1400px) {
    margin-bottom: 100px;
  }
}

.bordered-section {
  border-radius: 20px;
  border: 4px solid #000;
  padding: 12px;

  @media screen and (min-width: 768px) {
    padding: 20px;
  }
}

.section-title {
  color: $white;
  text-align: center;
  font-size: 28px;
  margin: 0;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 50px;
  line-height: 1;

  @media screen and (min-width: 1200px) {
    font-size: 46px;
    margin-bottom: 65px;
  }

  &.line:after {
    background: $blue;
    bottom: -16px;
    content: ' ';
    display: block;
    height: 4px;
    width: 142px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
  }

  &.black {
    color: $dark;
  }
}

.section-sub-title {
  color: $white;
  font-size: 29px;
}