@import "variables";
@import "header";
@import "banner";
@import "tabs";
@import "content";

.container {
  margin: 0 auto;
  max-width: 1736px;
  width: 100%;
}

.d-flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.d-inline-block {
  display: inline-block;
}

.vertical-align-middle {
  vertical-align: middle;
}

.b-rounded-20 {
  border-radius: 20px;
}

.b-rounded-30 {
  border-radius: 30px;
}

.blue {
  color: $blue;
}

.mt-0 {
  margin-top: 0;
}

body {
  font-family: 'Arial', sans-serif;
  font-weight: 500;
  margin: 0;
}

%btn {
  background: none;
  border-radius: 100px;
  cursor: pointer;
  padding: 12px 29px;
}

.btn-dashed {
  background: none;
  border: 2px dashed;
  border-radius: 100px;
  padding: 12px 29px;

  &.blue {
    border-color: $blue;
    color: $blue;
  }

  .big {
    font-size: 22px;
    line-height: 1.2;
  }
}

.btn-simple {
  @extend %btn;
  border: none;

  &.blue {
    background: $blue;
    color: #fff;
  }

  &.big {
    font-size: 30px;
    padding: 16px 30px;
  }
}

.mb-70 {
  margin-bottom: 70px;
}

.grey-section {
  background: $grey;
  border-radius: 20px;
  padding: 70px 56px;
}

.bordered-section {
  border-radius: 20px;
  border: 4px solid #000;
  padding: 20px;
}

.section-title {
  color: $white;
  text-align: center;
  font-size: 46px;
  margin: 0;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 65px;
  line-height: 1;

  &.line:after {
    background: $blue;
    bottom: -16px;
    content: ' ';
    display: block;
    height: 4px;
    width: 142px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
  }

  &.black {
    color: $dark;
  }
}